.questions-wrapper, .search-questions-wrapper {
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  overflow: scroll;
  margin-bottom: 20px;
  color: rgb(196, 196, 196);
  font-weight: 500;
  text-align: center;
  font-size: 14px;
}

.each-search-question {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  margin-bottom: 10px;
}
.each-search-question span {
  color: rgb(78, 75, 102);
  font-weight: 600;
  font-size: 12px;
  margin-right: auto;
}
.each-search-question i {
  color: rgb(78, 75, 102);
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}
